/packages
/artifacts
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/PojavLauncher
/Natives/build
.DS_Store
/pojavlauncher.xcodeproj
/depends
/Natives/resources/AppIcon60x60@2x.png
/Natives/resources/AppIcon76x76@2x~ipad.png
