/packages
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/PojavLauncher
/Natives/build
/Natives/resources/*.png
.DS_STORE
/pojavlauncher.xcodeproj
/Natives/resources/Frameworks/libvgpu.dylib
/IPABuilder/Payload/PojavLauncher.app/*
/IPABuilder/Payload.ipa
