/packages
/artifacts
/JavaApp/.gradle
/JavaApp/build
/Natives/PojavLauncher
/Natives/build
.DS_Store
/PojavLauncher.xcodeproj/xcshareddata/*
/PojavLauncher.xcodeproj/xcuserdata/*
/PojavLauncher.xcodeproj/project.xcworkspace/*
/depends
/Natives/config.h
