Package: pojavlauncher
Maintainer: DuyKhanhTran
Architecture: iphoneos-arm
Version: 1.2
Depends: openjdk-16-jre, firmware (>= 12.0)
Conflicts: pojavlauncher-dev, pojavlauncher-zink
Section: Games
Priority: optional
Homepage: https://github.com/PojavLauncherTeam/PojavLauncher_iOS
Description: Minecraft: Java Edition launcher for iOS, based on PojavLauncher Android.
