<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GLFW_KEY_UNKNOWN</key>
	<integer>0</integer>
	<key>GLFW_KEY_SPACE</key>
	<integer>32</integer>
	<key>GLFW_KEY_APOSTROPHE</key>
	<integer>39</integer>
	<key>GLFW_KEY_COMMA</key>
	<integer>44</integer>
	<key>GLFW_KEY_MINUS</key>
	<integer>45</integer>
	<key>GLFW_KEY_PERIOD</key>
	<integer>46</integer>
	<key>GLFW_KEY_SLASH</key>
	<integer>47</integer>
	<key>GLFW_KEY_0</key>
	<integer>48</integer>
	<key>GLFW_KEY_1</key>
	<integer>49</integer>
	<key>GLFW_KEY_2</key>
	<integer>50</integer>
	<key>GLFW_KEY_3</key>
	<integer>51</integer>
	<key>GLFW_KEY_4</key>
	<integer>52</integer>
	<key>GLFW_KEY_5</key>
	<integer>53</integer>
	<key>GLFW_KEY_6</key>
	<integer>54</integer>
	<key>GLFW_KEY_7</key>
	<integer>55</integer>
	<key>GLFW_KEY_8</key>
	<integer>56</integer>
	<key>GLFW_KEY_9</key>
	<integer>57</integer>
	<key>GLFW_KEY_SEMICOLON</key>
	<integer>59</integer>
	<key>GLFW_KEY_EQUAL</key>
	<integer>61</integer>
	<key>GLFW_KEY_A</key>
	<integer>65</integer>
	<key>GLFW_KEY_B</key>
	<integer>66</integer>
	<key>GLFW_KEY_C</key>
	<integer>67</integer>
	<key>GLFW_KEY_D</key>
	<integer>68</integer>
	<key>GLFW_KEY_E</key>
	<integer>69</integer>
	<key>GLFW_KEY_F</key>
	<integer>70</integer>
	<key>GLFW_KEY_G</key>
	<integer>71</integer>
	<key>GLFW_KEY_H</key>
	<integer>72</integer>
	<key>GLFW_KEY_I</key>
	<integer>73</integer>
	<key>GLFW_KEY_J</key>
	<integer>74</integer>
	<key>GLFW_KEY_K</key>
	<integer>75</integer>
	<key>GLFW_KEY_L</key>
	<integer>76</integer>
	<key>GLFW_KEY_M</key>
	<integer>77</integer>
	<key>GLFW_KEY_N</key>
	<integer>78</integer>
	<key>GLFW_KEY_O</key>
	<integer>79</integer>
	<key>GLFW_KEY_P</key>
	<integer>80</integer>
	<key>GLFW_KEY_Q</key>
	<integer>81</integer>
	<key>GLFW_KEY_R</key>
	<integer>82</integer>
	<key>GLFW_KEY_S</key>
	<integer>83</integer>
	<key>GLFW_KEY_T</key>
	<integer>84</integer>
	<key>GLFW_KEY_U</key>
	<integer>85</integer>
	<key>GLFW_KEY_V</key>
	<integer>86</integer>
	<key>GLFW_KEY_W</key>
	<integer>87</integer>
	<key>GLFW_KEY_X</key>
	<integer>88</integer>
	<key>GLFW_KEY_Y</key>
	<integer>89</integer>
	<key>GLFW_KEY_Z</key>
	<integer>90</integer>
	<key>GLFW_KEY_LEFT_BRACKET</key>
	<integer>91</integer>
	<key>GLFW_KEY_BACKSLASH</key>
	<integer>92</integer>
	<key>GLFW_KEY_RIGHT_BRACKET</key>
	<integer>93</integer>
	<key>GLFW_KEY_GRAVE_ACCENT</key>
	<integer>96</integer>
	<key>GLFW_KEY_WORLD_1</key>
	<integer>161</integer>
	<key>GLFW_KEY_WORLD_2</key>
	<integer>162</integer>
	<key>GLFW_KEY_ESCAPE</key>
	<integer>256</integer>
	<key>GLFW_KEY_ENTER</key>
	<integer>257</integer>
	<key>GLFW_KEY_TAB</key>
	<integer>258</integer>
	<key>GLFW_KEY_BACKSPACE</key>
	<integer>259</integer>
	<key>GLFW_KEY_INSERT</key>
	<integer>260</integer>
	<key>GLFW_KEY_DELETE</key>
	<integer>261</integer>
	<key>GLFW_KEY_DPAD_RIGHT</key>
	<integer>262</integer>
	<key>GLFW_KEY_DPAD_LEFT</key>
	<integer>263</integer>
	<key>GLFW_KEY_DPAD_DOWN</key>
	<integer>264</integer>
	<key>GLFW_KEY_DPAD_UP</key>
	<integer>265</integer>
	<key>GLFW_KEY_PAGE_UP</key>
	<integer>266</integer>
	<key>GLFW_KEY_PAGE_DOWN</key>
	<integer>267</integer>
	<key>GLFW_KEY_HOME</key>
	<integer>268</integer>
	<key>GLFW_KEY_END</key>
	<integer>269</integer>
	<key>GLFW_KEY_CAPS_LOCK</key>
	<integer>280</integer>
	<key>GLFW_KEY_SCROLL_LOCK</key>
	<integer>281</integer>
	<key>GLFW_KEY_NUM_LOCK</key>
	<integer>282</integer>
	<key>GLFW_KEY_PRINT_SCREEN</key>
	<integer>283</integer>
	<key>GLFW_KEY_PAUSE</key>
	<integer>284</integer>
	<key>GLFW_KEY_F1</key>
	<integer>290</integer>
	<key>GLFW_KEY_F2</key>
	<integer>291</integer>
	<key>GLFW_KEY_F3</key>
	<integer>292</integer>
	<key>GLFW_KEY_F4</key>
	<integer>293</integer>
	<key>GLFW_KEY_F5</key>
	<integer>294</integer>
	<key>GLFW_KEY_F6</key>
	<integer>295</integer>
	<key>GLFW_KEY_F7</key>
	<integer>296</integer>
	<key>GLFW_KEY_F8</key>
	<integer>297</integer>
	<key>GLFW_KEY_F9</key>
	<integer>298</integer>
	<key>GLFW_KEY_F10</key>
	<integer>299</integer>
	<key>GLFW_KEY_F11</key>
	<integer>300</integer>
	<key>GLFW_KEY_F12</key>
	<integer>301</integer>
	<key>GLFW_KEY_F13</key>
	<integer>302</integer>
	<key>GLFW_KEY_F14</key>
	<integer>303</integer>
	<key>GLFW_KEY_F15</key>
	<integer>304</integer>
	<key>GLFW_KEY_F16</key>
	<integer>305</integer>
	<key>GLFW_KEY_F17</key>
	<integer>306</integer>
	<key>GLFW_KEY_F18</key>
	<integer>307</integer>
	<key>GLFW_KEY_F19</key>
	<integer>308</integer>
	<key>GLFW_KEY_F20</key>
	<integer>309</integer>
	<key>GLFW_KEY_F21</key>
	<integer>310</integer>
	<key>GLFW_KEY_F22</key>
	<integer>311</integer>
	<key>GLFW_KEY_F23</key>
	<integer>312</integer>
	<key>GLFW_KEY_F24</key>
	<integer>313</integer>
	<key>GLFW_KEY_F25</key>
	<integer>314</integer>
	<key>GLFW_KEY_NUMPAD_0</key>
	<integer>320</integer>
	<key>GLFW_KEY_NUMPAD_1</key>
	<integer>321</integer>
	<key>GLFW_KEY_NUMPAD_2</key>
	<integer>322</integer>
	<key>GLFW_KEY_NUMPAD_3</key>
	<integer>323</integer>
	<key>GLFW_KEY_NUMPAD_4</key>
	<integer>324</integer>
	<key>GLFW_KEY_NUMPAD_5</key>
	<integer>325</integer>
	<key>GLFW_KEY_NUMPAD_6</key>
	<integer>326</integer>
	<key>GLFW_KEY_NUMPAD_7</key>
	<integer>327</integer>
	<key>GLFW_KEY_NUMPAD_8</key>
	<integer>328</integer>
	<key>GLFW_KEY_NUMPAD_9</key>
	<integer>329</integer>
	<key>GLFW_KEY_NUMPAD_DECIMAL</key>
	<integer>330</integer>
	<key>GLFW_KEY_NUMPAD_DIVIDE</key>
	<integer>331</integer>
	<key>GLFW_KEY_NUMPAD_MULTIPLY</key>
	<integer>332</integer>
	<key>GLFW_KEY_NUMPAD_SUBTRACT</key>
	<integer>333</integer>
	<key>GLFW_KEY_NUMPAD_ADD</key>
	<integer>334</integer>
	<key>GLFW_KEY_NUMPAD_ENTER</key>
	<integer>335</integer>
	<key>GLFW_KEY_NUMPAD_EQUAL</key>
	<integer>336</integer>
	<key>GLFW_KEY_LEFT_SHIFT</key>
	<integer>340</integer>
	<key>GLFW_KEY_LEFT_CONTROL</key>
	<integer>341</integer>
	<key>GLFW_KEY_LEFT_ALT</key>
	<integer>342</integer>
	<key>GLFW_KEY_LEFT_SUPER</key>
	<integer>343</integer>
	<key>GLFW_KEY_RIGHT_SHIFT</key>
	<integer>344</integer>
	<key>GLFW_KEY_RIGHT_CONTROL</key>
	<integer>345</integer>
	<key>GLFW_KEY_RIGHT_ALT</key>
	<integer>346</integer>
	<key>GLFW_KEY_RIGHT_SUPER</key>
	<integer>347</integer>
	<key>GLFW_KEY_MENU</key>
	<integer>348</integer>
	<key>GLFW_KEY_LAST</key>
	<integer>348</integer>
	<key>SPECIALBTN_KEYBOARD</key>
	<integer>-1</integer>
	<key>SPECIALBTN_TOGGLECTRL</key>
	<integer>-2</integer>
	<key>SPECIALBTN_MOUSEPRI</key>
	<integer>-3</integer>
	<key>SPECIALBTN_MOUSESEC</key>
	<integer>-4</integer>
	<key>SPECIALBTN_VIRTUALMOUSE</key>
	<integer>-5</integer>
	<key>SPECIALBTN_MOUSEMID</key>
	<integer>-6</integer>
	<key>SPECIALBTN_SCROLLUP</key>
	<integer>-7</integer>
	<key>SPECIALBTN_SCROLLDOWN</key>
	<integer>-8</integer>
	<key>SPECIALBTN_MENU</key>
	<integer>-9</integer>
</dict>
</plist>
