name: iOS build

on:
  [push, workflow_dispatch]

jobs:
  build:
    name: The guts
    runs-on: macOS-latest
    steps:
      - name: Set up build environment
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '12.4.0'
          
      - name: Set up build environment pt. II
        uses: actions/checkout@v2

      - name: Set up build environment pt. III
        run: git submodule update --init --recursive
      
      - name: Set up build environment pt. IV
        run: brew install ldid dpkg fakeroot gsed
        
      - name: Build the native application
        run: make native

      - name: Build the Java application
        run: make java

      - name: Build the assets and Storyboards
        run: make extras

      - name: Build the Debian package
        run: make package

      - name: Generate dSYM for libpojavexec
        run: dsymutil --arch arm64 Natives/build/libpojavexec.dylib

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: pojavlauncher_iphoneos-arm.deb
          path: packages/pojavlauncher_iphoneos-arm.deb

      - name: Upload libpojavexec.dylib.dSYM
        uses: actions/upload-artifact@v2
        with:
          name: libpojavexec.dylib.dSYM
          path: Natives/build/libpojavexec.dylib.dSYM
